REGISTRY_HTTP_TLS_CERTIFICATE=/secure/cert_or_certbundle.crt
REGISTRY_HTTP_TLS_KEY=/secure/private.key
REGISTRY_AUTH=htpasswd
REGISTRY_AUTH_HTPASSWD_REALM=basic-realm
REGISTRY_AUTH_HTPASSWD_PATH=/secure/htpassw.example


SECURE_BASE64=YOURBASE64ENCODED_TAR_GZ_CONTENT_HERE
